<body>
    <div class="grid-child-cont grid-left"></div>
    <div class="grid-child-cont grid-child-middle">
        <div class="flex-container">
            <div class="input-fam">
                <div class="inner-flex">
                    <label for="namebox">Gender</label>
                    <input type="text" id='namebox'>
                </div>
            </div>
            <div class="input-fam">
                <div class="inner-flex">
                    <label for="namebox">Gender</label>
                    <input type="text" id='namebox'>
                </div>
            </div>
            <div class="input-fam">
                <div class="inner-flex">
                    <label for="namebox">Gender</label>
                    <input type="text" id='namebox'>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-child-cont grid-right"></div>
      <div>
        <div>
          <p>Hello</p>
        </div>
      </div>
  </body>
  
  
  
  {% comment %}
  <body>
  
    <div class="grid-container">


      <div class="grid-child gccl">
        <p>Left Pane</p>
      </div>

      
      
      <div class="grid-child gccm">
        <div class="flex-container">
              <div class="input-fam">
                  <div class="inner-flex">
                      <label for="namebox">Gender</label>
                      <input type="text" id='namebox'>
                  </div>
              </div>
              <div class="input-fam">
                  <div class="inner-flex">
                      <label for="namebox">Gender</label>
                      <input type="text" id='namebox'>
                  </div>
              </div>
              <div class="input-fam">
                  <div class="inner-flex">
                      <label for="namebox">Gender</label>
                      <input type="text" id='namebox'>
                  </div>
              </div>
          </div>
      </div>
      


      <div class="grid-child gccr">
        <p>Right Pane</p>
      </div>



    </div>
  
  </body>

  {% endcomment %}