{% extends 'polls/base.html' %}

{% block styles %}

{{block.super}}

<style>
    #bt1 {
        border-radius: 10px;
        background-color: rgb(63, 167, 150);
        color: whitesmoke;
        margin-top: 15px;
    }

    #nn {
        text-decoration: none;
    }
    h5 {
        display: inline;
    }

    button {
        
        
    }
    #t1 {
        border-style: dashed;
    }

    #bt1 {
        text-align: left;
    }
    #t3 {
        text-align: right;
        border-style: dashed;
        margin-left: 20px;
        border-radius: 10px;

    }


</style>

{% endblock %}



{% block content %} 
<button id="bt1" style="position:absolute;left:15px;top:50px;"> <a id="nn" class="text-white" href="{% url 'blog:make_post' %}">CREATE </a> </button>
<br>
<br>
{% for obj in article_list %}

<div class="card m-2">

    <div id='t1' class="card-body">
        
        <h5 class="card-title"> {{ obj.title }}</h5>
        
        {% if not obj.image %}
            <p>No Image Selected</p>
        {% else %} 
            <img class="card-img-top my-3" src="{{ MEDIA_URL }}{{obj.image}}" height="250" width="500" alt="Card image cap">
        {% endif %}
        <h6 class="card-subtitle mb-2 text-muted"> {{ obj.author.username }} on {{ obj.created }}</h6>
        <p class="card-text">{{ obj.content }}</p>
        <a href="{% url 'blog:article' obj.id obj.slug %}">Comment</a>
        <button id="t3"><a href="{% url 'blog:update' obj.id %}">Edit Post</a></button>

    </div>

</div>

{% endfor %}

{% if page_obj.has_previous %}

<a style="position:relative;left:5px;" class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"> Prev </a>


{% endif %}

{% if page_obj.has_next %}

<a style="position:relative;left:20px;"class="btn btn-primary" href="?page={{ page_obj.next_page_number }}"> Next </a>

{% endif %}


{% endblock %}