{% extends 'polls/base.html' %}

{% block styles %}

<style>
.container {
    text-align: center;
    color: rgb(136, 135, 135);
    border-radius: 10px;
    margin-top: 7px;
}
input {
    border-radius: 10px;
}
#button1 {
    background-color:rgb(63, 167, 150);
    color:whitesmoke;
}

</style>

{% endblock styles %}

{% block content %}

{% for message in messages %}
    <div>
        <p>{{message}}</p>
    </div>
{% endfor %}

{% if not result %} 

    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <span>Please Enter Your Email</span>
        </div>
        <div class="container">
            <input type="text" value="" name="resetemail">
        </div>
        <div class="container">
            <input id='button1' type="submit" value="Submit Request">
        </div>
    </form>

{% else %}
    {% if result1 %}
        <p>There was an error submitting your request. Please contact customer support for further instructions.</p>    
    {% else %}
        <h3>Please Check Your Email for instructions on how to reset your password.</h3>
    {% endif %}

{% endif %}

{% endblock %}