{% extends 'polls/base.html' %} 
 {% block content %} {% block styles %} {{block.super}} <style> td, th {border: 1.1px solid #666666; text-align:left; padding:8px;} tr:nth-child(even) { background-color: #ddddff;} </style> {% endblock styles %}<button id="button1" onclick="Download()" data-url="/polls/download/SELECT%20*%20from%20Game%20where%20GAME_DATE='2017-02-15'%20LIMIT%20500/" style='background-color:rgb(63, 167, 150); border-radius:10px;'> <a style='text-decoration:none; color:whitesmoke;' href="{% url 'polls:download' "SELECT * from Game where GAME_DATE='2017-02-15' LIMIT 500" %}"> CSV </a> </button> 
 <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>GAME_ID</th>
      <th>SEASON_ID</th>
      <th>TEAM_ID_HOME</th>
      <th>TEAM_ABBREVIATION_HOME</th>
      <th>TEAM_NAME_HOME</th>
      <th>GAME_DATE</th>
      <th>MATCHUP_HOME</th>
      <th>WL_HOME</th>
      <th>MIN_HOME</th>
      <th>FGM_HOME</th>
      <th>FGA_HOME</th>
      <th>FG_PCT_HOME</th>
      <th>FG3M_HOME</th>
      <th>FG3A_HOME</th>
      <th>FG3_PCT_HOME</th>
      <th>FTM_HOME</th>
      <th>FTA_HOME</th>
      <th>FT_PCT_HOME</th>
      <th>OREB_HOME</th>
      <th>DREB_HOME</th>
      <th>REB_HOME</th>
      <th>AST_HOME</th>
      <th>STL_HOME</th>
      <th>BLK_HOME</th>
      <th>TOV_HOME</th>
      <th>PF_HOME</th>
      <th>PTS_HOME</th>
      <th>PLUS_MINUS_HOME</th>
      <th>VIDEO_AVAILABLE_HOME</th>
      <th>TEAM_ID_AWAY</th>
      <th>TEAM_ABBREVIATION_AWAY</th>
      <th>TEAM_NAME_AWAY</th>
      <th>MATCHUP_AWAY</th>
      <th>WL_AWAY</th>
      <th>MIN_AWAY</th>
      <th>FGM_AWAY</th>
      <th>FGA_AWAY</th>
      <th>FG_PCT_AWAY</th>
      <th>FG3M_AWAY</th>
      <th>FG3A_AWAY</th>
      <th>FG3_PCT_AWAY</th>
      <th>FTM_AWAY</th>
      <th>FTA_AWAY</th>
      <th>FT_PCT_AWAY</th>
      <th>OREB_AWAY</th>
      <th>DREB_AWAY</th>
      <th>REB_AWAY</th>
      <th>AST_AWAY</th>
      <th>STL_AWAY</th>
      <th>BLK_AWAY</th>
      <th>TOV_AWAY</th>
      <th>PF_AWAY</th>
      <th>PTS_AWAY</th>
      <th>PLUS_MINUS_AWAY</th>
      <th>VIDEO_AVAILABLE_AWAY</th>
      <th>GAME_DATE_EST</th>
      <th>GAME_SEQUENCE</th>
      <th>GAME_STATUS_ID</th>
      <th>GAME_STATUS_TEXT</th>
      <th>GAMECODE</th>
      <th>HOME_TEAM_ID</th>
      <th>VISITOR_TEAM_ID</th>
      <th>SEASON</th>
      <th>LIVE_PERIOD</th>
      <th>LIVE_PC_TIME</th>
      <th>NATL_TV_BROADCASTER_ABBREVIATION</th>
      <th>LIVE_PERIOD_TIME_BCAST</th>
      <th>WH_STATUS</th>
      <th>TEAM_CITY_HOME</th>
      <th>PTS_PAINT_HOME</th>
      <th>PTS_2ND_CHANCE_HOME</th>
      <th>PTS_FB_HOME</th>
      <th>LARGEST_LEAD_HOME</th>
      <th>LEAD_CHANGES_HOME</th>
      <th>TIMES_TIED_HOME</th>
      <th>TEAM_TURNOVERS_HOME</th>
      <th>TOTAL_TURNOVERS_HOME</th>
      <th>TEAM_REBOUNDS_HOME</th>
      <th>PTS_OFF_TO_HOME</th>
      <th>TEAM_CITY_AWAY</th>
      <th>PTS_PAINT_AWAY</th>
      <th>PTS_2ND_CHANCE_AWAY</th>
      <th>PTS_FB_AWAY</th>
      <th>LARGEST_LEAD_AWAY</th>
      <th>LEAD_CHANGES_AWAY</th>
      <th>TIMES_TIED_AWAY</th>
      <th>TEAM_TURNOVERS_AWAY</th>
      <th>TOTAL_TURNOVERS_AWAY</th>
      <th>TEAM_REBOUNDS_AWAY</th>
      <th>PTS_OFF_TO_AWAY</th>
      <th>LEAGUE_ID</th>
      <th>GAME_DATE_DAY</th>
      <th>ATTENDANCE</th>
      <th>GAME_TIME</th>
      <th>TEAM_CITY_NAME_HOME</th>
      <th>TEAM_NICKNAME_HOME</th>
      <th>TEAM_WINS_LOSSES_HOME</th>
      <th>PTS_QTR1_HOME</th>
      <th>PTS_QTR2_HOME</th>
      <th>PTS_QTR3_HOME</th>
      <th>PTS_QTR4_HOME</th>
      <th>PTS_OT1_HOME</th>
      <th>PTS_OT2_HOME</th>
      <th>PTS_OT3_HOME</th>
      <th>PTS_OT4_HOME</th>
      <th>PTS_OT5_HOME</th>
      <th>PTS_OT6_HOME</th>
      <th>PTS_OT7_HOME</th>
      <th>PTS_OT8_HOME</th>
      <th>PTS_OT9_HOME</th>
      <th>PTS_OT10_HOME</th>
      <th>PTS_HOME_y</th>
      <th>TEAM_CITY_NAME_AWAY</th>
      <th>TEAM_NICKNAME_AWAY</th>
      <th>TEAM_WINS_LOSSES_AWAY</th>
      <th>PTS_QTR1_AWAY</th>
      <th>PTS_QTR2_AWAY</th>
      <th>PTS_QTR3_AWAY</th>
      <th>PTS_QTR4_AWAY</th>
      <th>PTS_OT1_AWAY</th>
      <th>PTS_OT2_AWAY</th>
      <th>PTS_OT3_AWAY</th>
      <th>PTS_OT4_AWAY</th>
      <th>PTS_OT5_AWAY</th>
      <th>PTS_OT6_AWAY</th>
      <th>PTS_OT7_AWAY</th>
      <th>PTS_OT8_AWAY</th>
      <th>PTS_OT9_AWAY</th>
      <th>PTS_OT10_AWAY</th>
      <th>LAST_GAME_ID</th>
      <th>LAST_GAME_DATE_EST</th>
      <th>LAST_GAME_HOME_TEAM_ID</th>
      <th>LAST_GAME_HOME_TEAM_CITY</th>
      <th>LAST_GAME_HOME_TEAM_NAME</th>
      <th>LAST_GAME_HOME_TEAM_ABBREVIATION</th>
      <th>LAST_GAME_HOME_TEAM_POINTS</th>
      <th>LAST_GAME_VISITOR_TEAM_ID</th>
      <th>LAST_GAME_VISITOR_TEAM_CITY</th>
      <th>LAST_GAME_VISITOR_TEAM_NAME</th>
      <th>LAST_GAME_VISITOR_TEAM_CITY1</th>
      <th>LAST_GAME_VISITOR_TEAM_POINTS</th>
      <th>HOME_TEAM_WINS</th>
      <th>HOME_TEAM_LOSSES</th>
      <th>SERIES_LEADER</th>
      <th>VIDEO_AVAILABLE_FLAG</th>
      <th>PT_AVAILABLE</th>
      <th>PT_XYZ_AVAILABLE</th>
      <th>HUSTLE_STATUS</th>
      <th>HISTORICAL_STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0021600847</td>
      <td>22016</td>
      <td>1610612744</td>
      <td>GSW</td>
      <td>Golden State Warriors</td>
      <td>2017-02-15</td>
      <td>GSW vs. SAC</td>
      <td>W</td>
      <td>240</td>
      <td>41.0</td>
      <td>84</td>
      <td>0.488</td>
      <td>13</td>
      <td>36</td>
      <td>0.361</td>
      <td>14.0</td>
      <td>21.0</td>
      <td>0.667</td>
      <td>6</td>
      <td>40</td>
      <td>46</td>
      <td>32</td>
      <td>10</td>
      <td>10</td>
      <td>8</td>
      <td>16.0</td>
      <td>109</td>
      <td>23</td>
      <td>1</td>
      <td>1610612758</td>
      <td>SAC</td>
      <td>Sacramento Kings</td>
      <td>SAC @ GSW</td>
      <td>L</td>
      <td>240</td>
      <td>33.0</td>
      <td>89</td>
      <td>0.371</td>
      <td>7</td>
      <td>24</td>
      <td>0.292</td>
      <td>13.0</td>
      <td>17.0</td>
      <td>0.765</td>
      <td>12</td>
      <td>38</td>
      <td>50</td>
      <td>23</td>
      <td>4</td>
      <td>6</td>
      <td>18</td>
      <td>17.0</td>
      <td>86</td>
      <td>-23</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>14</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/SACGSW</td>
      <td>1610612744</td>
      <td>1610612758</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>Golden State</td>
      <td>42</td>
      <td>10</td>
      <td>40</td>
      <td>32</td>
      <td>7</td>
      <td>3</td>
      <td>0</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>Sacramento</td>
      <td>44</td>
      <td>20</td>
      <td>9</td>
      <td>4</td>
      <td>7</td>
      <td>3</td>
      <td>0</td>
      <td>18</td>
      <td>8</td>
      <td>19</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>19596</td>
      <td>2:05</td>
      <td>Golden State</td>
      <td>Warriors</td>
      <td>47-9</td>
      <td>28</td>
      <td>19</td>
      <td>42</td>
      <td>20</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>109.0</td>
      <td>Sacramento</td>
      <td>Kings</td>
      <td>24-33</td>
      <td>25</td>
      <td>25</td>
      <td>15</td>
      <td>21</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600764</td>
      <td>2017-02-04T00:00:00</td>
      <td>1610612744</td>
      <td>Golden State</td>
      <td>Warriors</td>
      <td>GSW</td>
      <td>106</td>
      <td>1610612758</td>
      <td>Sacramento</td>
      <td>Kings</td>
      <td>SAC</td>
      <td>109</td>
      <td>3.0</td>
      <td>1.0</td>
      <td>Golden State</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0021600844</td>
      <td>22016</td>
      <td>1610612756</td>
      <td>PHX</td>
      <td>Phoenix Suns</td>
      <td>2017-02-15</td>
      <td>PHX vs. LAL</td>
      <td>W</td>
      <td>240</td>
      <td>49.0</td>
      <td>88</td>
      <td>0.557</td>
      <td>10</td>
      <td>24</td>
      <td>0.417</td>
      <td>29.0</td>
      <td>34.0</td>
      <td>0.853</td>
      <td>12</td>
      <td>47</td>
      <td>59</td>
      <td>32</td>
      <td>7</td>
      <td>10</td>
      <td>15</td>
      <td>20.0</td>
      <td>137</td>
      <td>36</td>
      <td>1</td>
      <td>1610612747</td>
      <td>LAL</td>
      <td>Los Angeles Lakers</td>
      <td>LAL @ PHX</td>
      <td>L</td>
      <td>240</td>
      <td>35.0</td>
      <td>93</td>
      <td>0.376</td>
      <td>9</td>
      <td>26</td>
      <td>0.346</td>
      <td>22.0</td>
      <td>28.0</td>
      <td>0.786</td>
      <td>7</td>
      <td>29</td>
      <td>36</td>
      <td>16</td>
      <td>9</td>
      <td>3</td>
      <td>12</td>
      <td>27.0</td>
      <td>101</td>
      <td>-36</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>11</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/LALPHX</td>
      <td>1610612756</td>
      <td>1610612747</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>Phoenix</td>
      <td>60</td>
      <td>20</td>
      <td>41</td>
      <td>36</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>7</td>
      <td>17</td>
      <td>Los Angeles</td>
      <td>34</td>
      <td>9</td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>12</td>
      <td>6</td>
      <td>16</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>18055</td>
      <td>2:09</td>
      <td>Phoenix</td>
      <td>Suns</td>
      <td>18-39</td>
      <td>32</td>
      <td>36</td>
      <td>34</td>
      <td>35</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>137.0</td>
      <td>Los Angeles</td>
      <td>Lakers</td>
      <td>19-39</td>
      <td>15</td>
      <td>33</td>
      <td>28</td>
      <td>25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600344</td>
      <td>2016-12-09T00:00:00</td>
      <td>1610612756</td>
      <td>Phoenix</td>
      <td>Suns</td>
      <td>PHX</td>
      <td>119</td>
      <td>1610612747</td>
      <td>Los Angeles</td>
      <td>Lakers</td>
      <td>LAL</td>
      <td>115</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>Tied</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0021600838</td>
      <td>22016</td>
      <td>1610612751</td>
      <td>BKN</td>
      <td>Brooklyn Nets</td>
      <td>2017-02-15</td>
      <td>BKN vs. MIL</td>
      <td>L</td>
      <td>240</td>
      <td>46.0</td>
      <td>88</td>
      <td>0.523</td>
      <td>14</td>
      <td>36</td>
      <td>0.389</td>
      <td>19.0</td>
      <td>23.0</td>
      <td>0.826</td>
      <td>9</td>
      <td>33</td>
      <td>42</td>
      <td>30</td>
      <td>7</td>
      <td>8</td>
      <td>17</td>
      <td>21.0</td>
      <td>125</td>
      <td>-4</td>
      <td>1</td>
      <td>1610612749</td>
      <td>MIL</td>
      <td>Milwaukee Bucks</td>
      <td>MIL @ BKN</td>
      <td>W</td>
      <td>240</td>
      <td>50.0</td>
      <td>88</td>
      <td>0.568</td>
      <td>7</td>
      <td>15</td>
      <td>0.467</td>
      <td>22.0</td>
      <td>32.0</td>
      <td>0.688</td>
      <td>7</td>
      <td>32</td>
      <td>39</td>
      <td>27</td>
      <td>16</td>
      <td>3</td>
      <td>10</td>
      <td>19.0</td>
      <td>129</td>
      <td>4</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>5</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/MILBKN</td>
      <td>1610612751</td>
      <td>1610612749</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>Brooklyn</td>
      <td>50</td>
      <td>13</td>
      <td>14</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>0</td>
      <td>17</td>
      <td>4</td>
      <td>24</td>
      <td>Milwaukee</td>
      <td>68</td>
      <td>11</td>
      <td>27</td>
      <td>13</td>
      <td>6</td>
      <td>4</td>
      <td>0</td>
      <td>10</td>
      <td>9</td>
      <td>17</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>16182</td>
      <td>2:14</td>
      <td>Brooklyn</td>
      <td>Nets</td>
      <td>9-47</td>
      <td>33</td>
      <td>27</td>
      <td>22</td>
      <td>43</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>125.0</td>
      <td>Milwaukee</td>
      <td>Bucks</td>
      <td>25-30</td>
      <td>39</td>
      <td>23</td>
      <td>33</td>
      <td>34</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600291</td>
      <td>2016-12-03T00:00:00</td>
      <td>1610612751</td>
      <td>Brooklyn</td>
      <td>Nets</td>
      <td>BKN</td>
      <td>103</td>
      <td>1610612749</td>
      <td>Milwaukee</td>
      <td>Bucks</td>
      <td>MIL</td>
      <td>112</td>
      <td>0.0</td>
      <td>4.0</td>
      <td>Milwaukee</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0021600836</td>
      <td>22016</td>
      <td>1610612738</td>
      <td>BOS</td>
      <td>Boston Celtics</td>
      <td>2017-02-15</td>
      <td>BOS vs. PHI</td>
      <td>W</td>
      <td>240</td>
      <td>38.0</td>
      <td>80</td>
      <td>0.475</td>
      <td>13</td>
      <td>28</td>
      <td>0.464</td>
      <td>27.0</td>
      <td>36.0</td>
      <td>0.750</td>
      <td>6</td>
      <td>33</td>
      <td>39</td>
      <td>21</td>
      <td>13</td>
      <td>4</td>
      <td>24</td>
      <td>18.0</td>
      <td>116</td>
      <td>8</td>
      <td>1</td>
      <td>1610612755</td>
      <td>PHI</td>
      <td>Philadelphia 76ers</td>
      <td>PHI @ BOS</td>
      <td>L</td>
      <td>240</td>
      <td>44.0</td>
      <td>93</td>
      <td>0.473</td>
      <td>8</td>
      <td>31</td>
      <td>0.258</td>
      <td>12.0</td>
      <td>18.0</td>
      <td>0.667</td>
      <td>12</td>
      <td>35</td>
      <td>47</td>
      <td>23</td>
      <td>16</td>
      <td>5</td>
      <td>22</td>
      <td>23.0</td>
      <td>108</td>
      <td>-8</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>3</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/PHIBOS</td>
      <td>1610612738</td>
      <td>1610612755</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>Boston</td>
      <td>42</td>
      <td>11</td>
      <td>15</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>2</td>
      <td>24</td>
      <td>12</td>
      <td>34</td>
      <td>Philadelphia</td>
      <td>62</td>
      <td>20</td>
      <td>25</td>
      <td>6</td>
      <td>11</td>
      <td>10</td>
      <td>0</td>
      <td>22</td>
      <td>8</td>
      <td>29</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>18624</td>
      <td>2:16</td>
      <td>Boston</td>
      <td>Celtics</td>
      <td>37-19</td>
      <td>29</td>
      <td>32</td>
      <td>26</td>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>116.0</td>
      <td>Philadelphia</td>
      <td>76ers</td>
      <td>21-35</td>
      <td>29</td>
      <td>32</td>
      <td>18</td>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600546</td>
      <td>2017-01-06T00:00:00</td>
      <td>1610612738</td>
      <td>Boston</td>
      <td>Celtics</td>
      <td>BOS</td>
      <td>110</td>
      <td>1610612755</td>
      <td>Philadelphia</td>
      <td>76ers</td>
      <td>PHI</td>
      <td>106</td>
      <td>3.0</td>
      <td>1.0</td>
      <td>Boston</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0021600846</td>
      <td>22016</td>
      <td>1610612746</td>
      <td>LAC</td>
      <td>LA Clippers</td>
      <td>2017-02-15</td>
      <td>LAC vs. ATL</td>
      <td>W</td>
      <td>240</td>
      <td>37.0</td>
      <td>79</td>
      <td>0.468</td>
      <td>14</td>
      <td>37</td>
      <td>0.378</td>
      <td>11.0</td>
      <td>12.0</td>
      <td>0.917</td>
      <td>5</td>
      <td>35</td>
      <td>40</td>
      <td>24</td>
      <td>18</td>
      <td>3</td>
      <td>16</td>
      <td>17.0</td>
      <td>99</td>
      <td>15</td>
      <td>1</td>
      <td>1610612737</td>
      <td>ATL</td>
      <td>Atlanta Hawks</td>
      <td>ATL @ LAC</td>
      <td>L</td>
      <td>240</td>
      <td>32.0</td>
      <td>79</td>
      <td>0.405</td>
      <td>7</td>
      <td>26</td>
      <td>0.269</td>
      <td>13.0</td>
      <td>19.0</td>
      <td>0.684</td>
      <td>10</td>
      <td>35</td>
      <td>45</td>
      <td>20</td>
      <td>5</td>
      <td>1</td>
      <td>23</td>
      <td>13.0</td>
      <td>84</td>
      <td>-15</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>13</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/ATLLAC</td>
      <td>1610612746</td>
      <td>1610612737</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>LA</td>
      <td>36</td>
      <td>3</td>
      <td>22</td>
      <td>22</td>
      <td>8</td>
      <td>3</td>
      <td>0</td>
      <td>16</td>
      <td>2</td>
      <td>10</td>
      <td>Atlanta</td>
      <td>42</td>
      <td>9</td>
      <td>14</td>
      <td>2</td>
      <td>8</td>
      <td>3</td>
      <td>3</td>
      <td>23</td>
      <td>9</td>
      <td>22</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>19060</td>
      <td>2:03</td>
      <td>LA</td>
      <td>Clippers</td>
      <td>35-21</td>
      <td>21</td>
      <td>33</td>
      <td>29</td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>99.0</td>
      <td>Atlanta</td>
      <td>Hawks</td>
      <td>32-24</td>
      <td>22</td>
      <td>18</td>
      <td>24</td>
      <td>20</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600667</td>
      <td>2017-01-23T00:00:00</td>
      <td>1610612746</td>
      <td>LA</td>
      <td>Clippers</td>
      <td>LAC</td>
      <td>115</td>
      <td>1610612737</td>
      <td>Atlanta</td>
      <td>Hawks</td>
      <td>ATL</td>
      <td>105</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>LA Clippers</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0021600834</td>
      <td>22016</td>
      <td>1610612753</td>
      <td>ORL</td>
      <td>Orlando Magic</td>
      <td>2017-02-15</td>
      <td>ORL vs. SAS</td>
      <td>L</td>
      <td>240</td>
      <td>30.0</td>
      <td>76</td>
      <td>0.395</td>
      <td>4</td>
      <td>18</td>
      <td>0.222</td>
      <td>15.0</td>
      <td>19.0</td>
      <td>0.789</td>
      <td>5</td>
      <td>28</td>
      <td>33</td>
      <td>15</td>
      <td>5</td>
      <td>5</td>
      <td>17</td>
      <td>19.0</td>
      <td>79</td>
      <td>-28</td>
      <td>1</td>
      <td>1610612759</td>
      <td>SAS</td>
      <td>San Antonio Spurs</td>
      <td>SAS @ ORL</td>
      <td>W</td>
      <td>240</td>
      <td>42.0</td>
      <td>89</td>
      <td>0.472</td>
      <td>8</td>
      <td>31</td>
      <td>0.258</td>
      <td>15.0</td>
      <td>19.0</td>
      <td>0.789</td>
      <td>11</td>
      <td>39</td>
      <td>50</td>
      <td>25</td>
      <td>12</td>
      <td>8</td>
      <td>13</td>
      <td>16.0</td>
      <td>107</td>
      <td>28</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>1</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/SASORL</td>
      <td>1610612753</td>
      <td>1610612759</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>Orlando</td>
      <td>36</td>
      <td>9</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>17</td>
      <td>10</td>
      <td>25</td>
      <td>San Antonio</td>
      <td>42</td>
      <td>27</td>
      <td>10</td>
      <td>30</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>8</td>
      <td>11</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>17101</td>
      <td>2:06</td>
      <td>Orlando</td>
      <td>Magic</td>
      <td>21-37</td>
      <td>16</td>
      <td>21</td>
      <td>27</td>
      <td>15</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>79.0</td>
      <td>San Antonio</td>
      <td>Spurs</td>
      <td>43-13</td>
      <td>30</td>
      <td>24</td>
      <td>31</td>
      <td>22</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600264</td>
      <td>2016-11-29T00:00:00</td>
      <td>1610612753</td>
      <td>Orlando</td>
      <td>Magic</td>
      <td>ORL</td>
      <td>95</td>
      <td>1610612759</td>
      <td>San Antonio</td>
      <td>Spurs</td>
      <td>SAS</td>
      <td>83</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>Tied</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0021600835</td>
      <td>22016</td>
      <td>1610612739</td>
      <td>CLE</td>
      <td>Cleveland Cavaliers</td>
      <td>2017-02-15</td>
      <td>CLE vs. IND</td>
      <td>W</td>
      <td>240</td>
      <td>39.0</td>
      <td>82</td>
      <td>0.476</td>
      <td>18</td>
      <td>39</td>
      <td>0.462</td>
      <td>17.0</td>
      <td>19.0</td>
      <td>0.895</td>
      <td>9</td>
      <td>31</td>
      <td>40</td>
      <td>23</td>
      <td>6</td>
      <td>2</td>
      <td>8</td>
      <td>19.0</td>
      <td>113</td>
      <td>9</td>
      <td>1</td>
      <td>1610612754</td>
      <td>IND</td>
      <td>Indiana Pacers</td>
      <td>IND @ CLE</td>
      <td>L</td>
      <td>240</td>
      <td>40.0</td>
      <td>86</td>
      <td>0.465</td>
      <td>12</td>
      <td>24</td>
      <td>0.500</td>
      <td>12.0</td>
      <td>14.0</td>
      <td>0.857</td>
      <td>13</td>
      <td>30</td>
      <td>43</td>
      <td>30</td>
      <td>2</td>
      <td>1</td>
      <td>12</td>
      <td>17.0</td>
      <td>104</td>
      <td>-9</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>2</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/INDCLE</td>
      <td>1610612739</td>
      <td>1610612754</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>ESPN</td>
      <td>Q4  - ESPN</td>
      <td>1.0</td>
      <td>Cleveland</td>
      <td>36</td>
      <td>13</td>
      <td>16</td>
      <td>17</td>
      <td>2</td>
      <td>3</td>
      <td>0</td>
      <td>8</td>
      <td>6</td>
      <td>12</td>
      <td>Indiana</td>
      <td>42</td>
      <td>13</td>
      <td>7</td>
      <td>8</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>12</td>
      <td>4</td>
      <td>14</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>20562</td>
      <td>2:14</td>
      <td>Cleveland</td>
      <td>Cavaliers</td>
      <td>39-16</td>
      <td>28</td>
      <td>29</td>
      <td>26</td>
      <td>30</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>113.0</td>
      <td>Indiana</td>
      <td>Pacers</td>
      <td>29-27</td>
      <td>32</td>
      <td>22</td>
      <td>26</td>
      <td>24</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600783</td>
      <td>2017-02-08T00:00:00</td>
      <td>1610612739</td>
      <td>Cleveland</td>
      <td>Cavaliers</td>
      <td>CLE</td>
      <td>132</td>
      <td>1610612754</td>
      <td>Indiana</td>
      <td>Pacers</td>
      <td>IND</td>
      <td>117</td>
      <td>3.0</td>
      <td>1.0</td>
      <td>Cleveland</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0021600841</td>
      <td>22016</td>
      <td>1610612745</td>
      <td>HOU</td>
      <td>Houston Rockets</td>
      <td>2017-02-15</td>
      <td>HOU vs. MIA</td>
      <td>L</td>
      <td>240</td>
      <td>36.0</td>
      <td>87</td>
      <td>0.414</td>
      <td>13</td>
      <td>40</td>
      <td>0.325</td>
      <td>24.0</td>
      <td>31.0</td>
      <td>0.774</td>
      <td>15</td>
      <td>26</td>
      <td>41</td>
      <td>22</td>
      <td>6</td>
      <td>1</td>
      <td>8</td>
      <td>23.0</td>
      <td>109</td>
      <td>-8</td>
      <td>1</td>
      <td>1610612748</td>
      <td>MIA</td>
      <td>Miami Heat</td>
      <td>MIA @ HOU</td>
      <td>W</td>
      <td>240</td>
      <td>44.0</td>
      <td>84</td>
      <td>0.524</td>
      <td>13</td>
      <td>35</td>
      <td>0.371</td>
      <td>16.0</td>
      <td>24.0</td>
      <td>0.667</td>
      <td>12</td>
      <td>34</td>
      <td>46</td>
      <td>27</td>
      <td>3</td>
      <td>7</td>
      <td>12</td>
      <td>20.0</td>
      <td>117</td>
      <td>8</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>8</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/MIAHOU</td>
      <td>1610612745</td>
      <td>1610612748</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>Houston</td>
      <td>42</td>
      <td>11</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>8</td>
      <td>10</td>
      <td>7</td>
      <td>Miami</td>
      <td>50</td>
      <td>19</td>
      <td>9</td>
      <td>20</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>12</td>
      <td>9</td>
      <td>15</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>16967</td>
      <td>2:09</td>
      <td>Houston</td>
      <td>Rockets</td>
      <td>40-18</td>
      <td>28</td>
      <td>17</td>
      <td>28</td>
      <td>36</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>109.0</td>
      <td>Miami</td>
      <td>Heat</td>
      <td>25-32</td>
      <td>34</td>
      <td>24</td>
      <td>30</td>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600623</td>
      <td>2017-01-17T00:00:00</td>
      <td>1610612745</td>
      <td>Houston</td>
      <td>Rockets</td>
      <td>HOU</td>
      <td>103</td>
      <td>1610612748</td>
      <td>Miami</td>
      <td>Heat</td>
      <td>MIA</td>
      <td>109</td>
      <td>0.0</td>
      <td>2.0</td>
      <td>Miami</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0021600839</td>
      <td>22016</td>
      <td>1610612765</td>
      <td>DET</td>
      <td>Detroit Pistons</td>
      <td>2017-02-15</td>
      <td>DET vs. DAL</td>
      <td>W</td>
      <td>240</td>
      <td>36.0</td>
      <td>82</td>
      <td>0.439</td>
      <td>6</td>
      <td>19</td>
      <td>0.316</td>
      <td>20.0</td>
      <td>22.0</td>
      <td>0.909</td>
      <td>9</td>
      <td>46</td>
      <td>55</td>
      <td>15</td>
      <td>2</td>
      <td>4</td>
      <td>15</td>
      <td>16.0</td>
      <td>98</td>
      <td>7</td>
      <td>1</td>
      <td>1610612742</td>
      <td>DAL</td>
      <td>Dallas Mavericks</td>
      <td>DAL @ DET</td>
      <td>L</td>
      <td>240</td>
      <td>35.0</td>
      <td>92</td>
      <td>0.380</td>
      <td>10</td>
      <td>37</td>
      <td>0.270</td>
      <td>11.0</td>
      <td>11.0</td>
      <td>1.000</td>
      <td>5</td>
      <td>34</td>
      <td>39</td>
      <td>22</td>
      <td>10</td>
      <td>2</td>
      <td>6</td>
      <td>21.0</td>
      <td>91</td>
      <td>-7</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>6</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/DALDET</td>
      <td>1610612765</td>
      <td>1610612742</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>Detroit</td>
      <td>30</td>
      <td>9</td>
      <td>8</td>
      <td>27</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>10</td>
      <td>18</td>
      <td>Dallas</td>
      <td>32</td>
      <td>4</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>1</td>
      <td>6</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>13549</td>
      <td>2:08</td>
      <td>Detroit</td>
      <td>Pistons</td>
      <td>27-30</td>
      <td>27</td>
      <td>35</td>
      <td>16</td>
      <td>20</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>98.0</td>
      <td>Dallas</td>
      <td>Mavericks</td>
      <td>22-34</td>
      <td>17</td>
      <td>18</td>
      <td>28</td>
      <td>28</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600381</td>
      <td>2016-12-14T00:00:00</td>
      <td>1610612765</td>
      <td>Detroit</td>
      <td>Pistons</td>
      <td>DET</td>
      <td>95</td>
      <td>1610612742</td>
      <td>Dallas</td>
      <td>Mavericks</td>
      <td>DAL</td>
      <td>85</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>Detroit</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0021600843</td>
      <td>22016</td>
      <td>1610612762</td>
      <td>UTA</td>
      <td>Utah Jazz</td>
      <td>2017-02-15</td>
      <td>UTA vs. POR</td>
      <td>W</td>
      <td>240</td>
      <td>42.0</td>
      <td>81</td>
      <td>0.519</td>
      <td>11</td>
      <td>22</td>
      <td>0.500</td>
      <td>16.0</td>
      <td>23.0</td>
      <td>0.696</td>
      <td>9</td>
      <td>37</td>
      <td>46</td>
      <td>19</td>
      <td>9</td>
      <td>5</td>
      <td>14</td>
      <td>17.0</td>
      <td>111</td>
      <td>23</td>
      <td>1</td>
      <td>1610612757</td>
      <td>POR</td>
      <td>Portland Trail Blazers</td>
      <td>POR @ UTA</td>
      <td>L</td>
      <td>240</td>
      <td>32.0</td>
      <td>79</td>
      <td>0.405</td>
      <td>9</td>
      <td>22</td>
      <td>0.409</td>
      <td>15.0</td>
      <td>20.0</td>
      <td>0.750</td>
      <td>9</td>
      <td>32</td>
      <td>41</td>
      <td>14</td>
      <td>9</td>
      <td>3</td>
      <td>17</td>
      <td>21.0</td>
      <td>88</td>
      <td>-23</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>10</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/PORUTA</td>
      <td>1610612762</td>
      <td>1610612757</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>Utah</td>
      <td>58</td>
      <td>7</td>
      <td>8</td>
      <td>28</td>
      <td>7</td>
      <td>5</td>
      <td>0</td>
      <td>14</td>
      <td>6</td>
      <td>6</td>
      <td>Portland</td>
      <td>32</td>
      <td>9</td>
      <td>6</td>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>17</td>
      <td>5</td>
      <td>18</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>19590</td>
      <td>2:07</td>
      <td>Utah</td>
      <td>Jazz</td>
      <td>35-22</td>
      <td>18</td>
      <td>22</td>
      <td>34</td>
      <td>37</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>111.0</td>
      <td>Portland</td>
      <td>Trail Blazers</td>
      <td>23-33</td>
      <td>17</td>
      <td>20</td>
      <td>25</td>
      <td>26</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600002</td>
      <td>2016-10-25T00:00:00</td>
      <td>1610612762</td>
      <td>Utah</td>
      <td>Jazz</td>
      <td>UTA</td>
      <td>104</td>
      <td>1610612757</td>
      <td>Portland</td>
      <td>Trail Blazers</td>
      <td>POR</td>
      <td>113</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>Tied</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0021600842</td>
      <td>22016</td>
      <td>1610612743</td>
      <td>DEN</td>
      <td>Denver Nuggets</td>
      <td>2017-02-15</td>
      <td>DEN vs. MIN</td>
      <td>L</td>
      <td>240</td>
      <td>38.0</td>
      <td>94</td>
      <td>0.404</td>
      <td>11</td>
      <td>34</td>
      <td>0.324</td>
      <td>12.0</td>
      <td>18.0</td>
      <td>0.667</td>
      <td>14</td>
      <td>35</td>
      <td>49</td>
      <td>25</td>
      <td>4</td>
      <td>5</td>
      <td>15</td>
      <td>19.0</td>
      <td>99</td>
      <td>-13</td>
      <td>1</td>
      <td>1610612750</td>
      <td>MIN</td>
      <td>Minnesota Timberwolves</td>
      <td>MIN @ DEN</td>
      <td>W</td>
      <td>240</td>
      <td>41.0</td>
      <td>86</td>
      <td>0.477</td>
      <td>6</td>
      <td>18</td>
      <td>0.333</td>
      <td>24.0</td>
      <td>28.0</td>
      <td>0.857</td>
      <td>9</td>
      <td>36</td>
      <td>45</td>
      <td>20</td>
      <td>12</td>
      <td>4</td>
      <td>7</td>
      <td>15.0</td>
      <td>112</td>
      <td>13</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>9</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/MINDEN</td>
      <td>1610612743</td>
      <td>1610612750</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>Denver</td>
      <td>42</td>
      <td>14</td>
      <td>20</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
      <td>1</td>
      <td>15</td>
      <td>10</td>
      <td>18</td>
      <td>Minnesota</td>
      <td>48</td>
      <td>17</td>
      <td>23</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>0</td>
      <td>7</td>
      <td>7</td>
      <td>10</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>13924</td>
      <td>2:14</td>
      <td>Denver</td>
      <td>Nuggets</td>
      <td>25-31</td>
      <td>31</td>
      <td>29</td>
      <td>19</td>
      <td>20</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>99.0</td>
      <td>Minnesota</td>
      <td>Timberwolves</td>
      <td>22-35</td>
      <td>32</td>
      <td>30</td>
      <td>23</td>
      <td>27</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600664</td>
      <td>2017-01-22T00:00:00</td>
      <td>1610612743</td>
      <td>Denver</td>
      <td>Nuggets</td>
      <td>DEN</td>
      <td>108</td>
      <td>1610612750</td>
      <td>Minnesota</td>
      <td>Timberwolves</td>
      <td>MIN</td>
      <td>111</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>Tied</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0021600837</td>
      <td>22016</td>
      <td>1610612761</td>
      <td>TOR</td>
      <td>Toronto Raptors</td>
      <td>2017-02-15</td>
      <td>TOR vs. CHA</td>
      <td>W</td>
      <td>240</td>
      <td>32.0</td>
      <td>84</td>
      <td>0.381</td>
      <td>12</td>
      <td>32</td>
      <td>0.375</td>
      <td>14.0</td>
      <td>19.0</td>
      <td>0.737</td>
      <td>8</td>
      <td>38</td>
      <td>46</td>
      <td>19</td>
      <td>8</td>
      <td>4</td>
      <td>16</td>
      <td>13.0</td>
      <td>90</td>
      <td>5</td>
      <td>1</td>
      <td>1610612766</td>
      <td>CHA</td>
      <td>Charlotte Hornets</td>
      <td>CHA @ TOR</td>
      <td>L</td>
      <td>240</td>
      <td>32.0</td>
      <td>76</td>
      <td>0.421</td>
      <td>13</td>
      <td>38</td>
      <td>0.342</td>
      <td>8.0</td>
      <td>9.0</td>
      <td>0.889</td>
      <td>5</td>
      <td>39</td>
      <td>44</td>
      <td>21</td>
      <td>9</td>
      <td>6</td>
      <td>18</td>
      <td>18.0</td>
      <td>85</td>
      <td>-5</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>4</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/CHATOR</td>
      <td>1610612761</td>
      <td>1610612766</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>Toronto</td>
      <td>34</td>
      <td>7</td>
      <td>17</td>
      <td>14</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>16</td>
      <td>10</td>
      <td>22</td>
      <td>Charlotte</td>
      <td>26</td>
      <td>5</td>
      <td>4</td>
      <td>17</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>18</td>
      <td>2</td>
      <td>12</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>19800</td>
      <td>2:09</td>
      <td>Toronto</td>
      <td>Raptors</td>
      <td>33-24</td>
      <td>31</td>
      <td>13</td>
      <td>14</td>
      <td>32</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>90.0</td>
      <td>Charlotte</td>
      <td>Hornets</td>
      <td>24-32</td>
      <td>20</td>
      <td>21</td>
      <td>34</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600642</td>
      <td>2017-01-20T00:00:00</td>
      <td>1610612761</td>
      <td>Toronto</td>
      <td>Raptors</td>
      <td>TOR</td>
      <td>78</td>
      <td>1610612766</td>
      <td>Charlotte</td>
      <td>Hornets</td>
      <td>CHA</td>
      <td>113</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>Tied</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0021600840</td>
      <td>22016</td>
      <td>1610612763</td>
      <td>MEM</td>
      <td>Memphis Grizzlies</td>
      <td>2017-02-15</td>
      <td>MEM vs. NOP</td>
      <td>L</td>
      <td>240</td>
      <td>33.0</td>
      <td>89</td>
      <td>0.371</td>
      <td>6</td>
      <td>33</td>
      <td>0.182</td>
      <td>19.0</td>
      <td>25.0</td>
      <td>0.760</td>
      <td>13</td>
      <td>35</td>
      <td>48</td>
      <td>22</td>
      <td>8</td>
      <td>3</td>
      <td>15</td>
      <td>19.0</td>
      <td>91</td>
      <td>-4</td>
      <td>1</td>
      <td>1610612740</td>
      <td>NOP</td>
      <td>New Orleans Pelicans</td>
      <td>NOP @ MEM</td>
      <td>W</td>
      <td>240</td>
      <td>37.0</td>
      <td>75</td>
      <td>0.493</td>
      <td>8</td>
      <td>18</td>
      <td>0.444</td>
      <td>13.0</td>
      <td>22.0</td>
      <td>0.591</td>
      <td>4</td>
      <td>34</td>
      <td>38</td>
      <td>18</td>
      <td>10</td>
      <td>5</td>
      <td>12</td>
      <td>23.0</td>
      <td>95</td>
      <td>4</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>7</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/NOPMEM</td>
      <td>1610612763</td>
      <td>1610612740</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>None</td>
      <td>Q4  -</td>
      <td>1.0</td>
      <td>Memphis</td>
      <td>40</td>
      <td>29</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>15</td>
      <td>13</td>
      <td>14</td>
      <td>New Orleans</td>
      <td>40</td>
      <td>3</td>
      <td>14</td>
      <td>18</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>12</td>
      <td>10</td>
      <td>14</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>16145</td>
      <td>2:17</td>
      <td>Memphis</td>
      <td>Grizzlies</td>
      <td>34-24</td>
      <td>22</td>
      <td>21</td>
      <td>18</td>
      <td>30</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>91.0</td>
      <td>New Orleans</td>
      <td>Pelicans</td>
      <td>23-34</td>
      <td>28</td>
      <td>22</td>
      <td>27</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600310</td>
      <td>2016-12-05T00:00:00</td>
      <td>1610612763</td>
      <td>Memphis</td>
      <td>Grizzlies</td>
      <td>MEM</td>
      <td>110</td>
      <td>1610612740</td>
      <td>New Orleans</td>
      <td>Pelicans</td>
      <td>NOP</td>
      <td>108</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>Tied</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0021600845</td>
      <td>22016</td>
      <td>1610612760</td>
      <td>OKC</td>
      <td>Oklahoma City Thunder</td>
      <td>2017-02-15</td>
      <td>OKC vs. NYK</td>
      <td>W</td>
      <td>240</td>
      <td>41.0</td>
      <td>88</td>
      <td>0.466</td>
      <td>12</td>
      <td>23</td>
      <td>0.522</td>
      <td>22.0</td>
      <td>31.0</td>
      <td>0.710</td>
      <td>12</td>
      <td>36</td>
      <td>48</td>
      <td>21</td>
      <td>10</td>
      <td>4</td>
      <td>12</td>
      <td>13.0</td>
      <td>116</td>
      <td>11</td>
      <td>1</td>
      <td>1610612752</td>
      <td>NYK</td>
      <td>New York Knicks</td>
      <td>NYK @ OKC</td>
      <td>L</td>
      <td>240</td>
      <td>41.0</td>
      <td>86</td>
      <td>0.477</td>
      <td>11</td>
      <td>21</td>
      <td>0.524</td>
      <td>12.0</td>
      <td>14.0</td>
      <td>0.857</td>
      <td>6</td>
      <td>33</td>
      <td>39</td>
      <td>19</td>
      <td>8</td>
      <td>12</td>
      <td>15</td>
      <td>21.0</td>
      <td>105</td>
      <td>-11</td>
      <td>1</td>
      <td>2017-02-15T00:00:00</td>
      <td>12</td>
      <td>3</td>
      <td>Final</td>
      <td>20170215/NYKOKC</td>
      <td>1610612760</td>
      <td>1610612752</td>
      <td>2016</td>
      <td>4.0</td>
      <td></td>
      <td>ESPN</td>
      <td>Q4  - ESPN</td>
      <td>1.0</td>
      <td>Oklahoma City</td>
      <td>48</td>
      <td>19</td>
      <td>25</td>
      <td>15</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>12</td>
      <td>13</td>
      <td>16</td>
      <td>New York</td>
      <td>40</td>
      <td>10</td>
      <td>8</td>
      <td>17</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>15</td>
      <td>3</td>
      <td>20</td>
      <td>00</td>
      <td>WEDNESDAY, FEBRUARY 15, 2017</td>
      <td>18203</td>
      <td>2:18</td>
      <td>Oklahoma City</td>
      <td>Thunder</td>
      <td>32-25</td>
      <td>27</td>
      <td>35</td>
      <td>26</td>
      <td>28</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>116.0</td>
      <td>New York</td>
      <td>Knicks</td>
      <td>23-34</td>
      <td>39</td>
      <td>21</td>
      <td>20</td>
      <td>25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0021600255</td>
      <td>2016-11-28T00:00:00</td>
      <td>1610612760</td>
      <td>Oklahoma City</td>
      <td>Thunder</td>
      <td>OKC</td>
      <td>112</td>
      <td>1610612752</td>
      <td>New York</td>
      <td>Knicks</td>
      <td>NYK</td>
      <td>103</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>Oklahoma City</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table> 
 
        <script>
        function Download() {
        var URL = document.getElementById("button1").getAttribute("data-url");
        fetch(URL)
        .then((res) => { 
            return res.blob(); 
        })
        .then((data) => {
            console.log("test")
        }
        </script>
         
 {% endblock %}