{% extends 'polls/base.html' %}

{% block styles %}

<style>
.container {
    text-align: center;
}
</style>

{% endblock styles %}

{% block content %}
{% if result %}
    {% if direct == 2 %}
        <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
        <div class="container">
            <p>Please Enter Your New Password</p>
        </div>
        <div class="container">
            <input type="password" value="" name="password1">
        </div>
        <div class="container">
            <p>Please Enter Your Password Again</p>
        </div>
        <div class="container">
            <input type="password" value="" name="password2">
        </div>
        <div class="container">
            <input type="submit" value="Submit Request">
        </div>
        </form>
    {% else %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% else %}
<div class="container">
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
</div>
{% endif %}


{% endblock %}