{% extends 'polls/base.html' %} 
{% block styles %} 
    {{ block.super }}
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <style>
        h1, h2, p  {
            font-family: 'Roboto Condensed', sans-serif;
        }
    </style>  
{% endblock styles %}
{% block content %} 

{% if user %}
{% if user.id != request.user.id and request.user not in user.user.friends.all %}
<div class="container text-center">
<h1><strong> {{user.username}} </strong></h1>
<p>You Must Be Friends with {{user.username}} in order to view their profile.</p>
<button class="btn btn-primary"><a class="text-white" href="{% url 'polls:add_friend' user.id %}"> Send Friend Request</a></button>
</div>
{% elif request.user in user.user.friends.all or request.user.id == user.id  %}
<div class="container text-center">
<img src="{{ MEDIA_URL }}{{user.profile.picture}}" alt="" width="100" height="100">
<div class="">
    <h2><strong> Biography </strong></h2>
    <p>
    {{user.profile.bio}}
    </p>
</div>
<div class="">
    <h2><strong> Location </strong></h2>
    <p>
    {{ user.profile.location }}
    </p>
</div>
<div class="">
    <h2><strong> Birthdate </strong></h2>
    <p>
    {{ user.profile.birthdate }}
    </p>
</div>

{% for comment in user.comments_set.all %}

<p> {% if comment.posted_by == request.user.username %} You {% else %} {{comment.posted_by }} {% endif %} said {{  comment.comment }} on {{comment.post_date }}</p>

{% endfor %}


<form action="{% url 'polls:make_comment' user.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        
        <textarea name="comment" id="commentfor" cols="30" rows="5" placeholder="Make a Comment" required></textarea>

    </fieldset>
    <input type="submit" class="btn btn-primary" value="Comment">
    <button class="btn btn-primary"><a style="color:white;text-decoration:none" href="{% url 'polls:success' %}">Edit Profile</a></button>
    <br>
    {% if user == request.user %}

    <button class="btn btn-primary"><a href="{% url 'polls:profile_settings' %}" class="text-white">Settings</a></button>

    {% endif %}
</form>
</div>




{% endif %}

{% endif %}



{% endblock %}